.section {
  position: relative;

  &__substrate {
    width: 100%;
    max-width: 1638px;
    margin: 0 auto;
    background: #F5F9FF;
    border-radius: 90px;
    overflow: hidden;
  }
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.container {
  &-heading {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 0 60px;
  }
}

.main-title {
  color: $text-color;
  font-size: 62px;
  line-height: 76px;
  margin-bottom: 60px;
  font-weight: bold;
}

.title {
  margin: 0 0 60px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.subtitle {
  margin-bottom: 60px;
  font-size: 1rem;
  font-weight: 500;
}

.breadcrumbs {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0;
  margin: 37px 0;
  list-style: none;

  &__item {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:last-child {
      .breadcrumbs__link {
        color: #1B1B1B;
      }
    }
  }

  &__link {
    color: #D8D8D8;
  }

  svg {
    width: 4px;
    height: 8px;
    margin-left: 10px;
  }
}

.product-card {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  max-width: 210px;
  height: 280px;
  padding: 20px 10px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

  &__info {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-bottom: 26px;
  }

  &__pic {
    img {
      width: 120px;
      height: 120px;
      border-radius: 20px;
    }
  }

  &__name {
    padding: 10px;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
  }

  &__actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 10px;
  }

  &__btn {
    &-wish {
      margin-right: 10px;

      &.btn {
        svg {
          width: 24px;
          height: 24px;
          margin: 0;
        }
      }
    }

    &-link {
      flex: 1 1 auto;

      &.btn {
        svg {
          width: 20px;
          height: 20px;
          margin: 0;
        }
      }
    }
  }
}

.form-control {
  height: 60px;
  padding: 20px;
  background: none;
  border: 1px solid #D8D8D8;
  border-radius: 99px;
  box-shadow: none !important;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;

  &_sm {
    min-width: 90px;
    width: auto;
    height: 40px;
    padding: 10px 21px;
  }

  &:focus {
    border-color: $main-first-color;
  }

  &-name {
    display: block;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 17px;
  }
}

input {
  &[type="checkbox"] {
    display: none;

    & ~ .pseudo-checkbox {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;

      .pseudo-checkbox {
        &__input {
          flex: 0 0 auto;
          width: 24px;
          height: 24px;
          margin-right: 20px;
          border: 2px solid #D8D8D8;
          border-radius: 4px;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10%;
            height: 10%;
            background: $main-first-color;
            border-radius: 2px;
            transform: translate(-50%, -50%) scale(0);
            transition: $transition-base;
          }
        }

        &__text {
          flex: 0 0 auto;
          margin: 3px 0 0;
          font-size: 1rem;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }

    &:checked {
      & ~ .pseudo-checkbox {
        .pseudo-checkbox {
          &__input {
            &::before {
              transform: translate(-50%, -50%) scale(1);
            }
          }

          &__text {}
        }
      }
    }
  }

  &[type="radio"] {
    display: none;

    & ~ .pseudo-radio {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;

      .pseudo-radio {
        &__input {
          position: relative;
          flex: 0 0 auto;
          width: 24px;
          height: 24px;
          margin-right: 20px;
          border: 2px solid #D8D8D8;
          border-radius: 100%;
          cursor: pointer;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            background: $main-first-color;
            border-radius: 100%;
            transition: $transition-base;
            transform: translate(-50%, -50%) scale(0);
          }
        }

        &__text {
          flex: 0 0 auto;
          margin: 3px 0 0;
          font-size: 1rem;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }

    &:checked {
      & ~ .pseudo-radio {
        .pseudo-radio {
          &__input {
            &::before {
              transform: translate(-50%, -50%) scale(1);
            }
          }

          &__text {}
        }
      }
    }
  }
}

.btn {
  padding: 10px;
  line-height: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: none !important;
  font-weight: 600;

  &-primary {
    svg {
      fill: white;
    }
  }

  &-lg {
    padding: 20px;
    border-radius: 16px;
    line-height: 27px;
  }

  &-sm {
    height: 40px;
    padding: 8px;
    border-radius: 8px;
  }

  &[class*="btn-outline"] {
    border: 1px solid;
  }

  svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.select2 {
  &-container {
    outline: none !important;

    &--default {
      .select2 {
        &-selection {
          &--single {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            height: 60px;
            background: none;
            border: 1px solid #D8D8D8;
            border-radius: 30px;

            .select2-selection {
              &__rendered {
                width: 100%;
                padding-left: 20px;
                padding-right: 40px;
                font-size: 1rem;
                font-weight: 500;
                line-height: 20px;
              }

              &__arrow {
                width: 20px;
                height: 20px;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);

                b {
                  border-color: #1B1B1B transparent transparent transparent;
                }
              }
            }
          }
        }

        &-results {
          &__option {
            &--selectable {

            }

            &--selected {
              background: $main-second-color;
            }

            &--highlighted {
              &.select2-results__option--selectable {
                background: $main-first-color;
              }
            }
          }
        }
      }
    }

    &--open {
      .select2-selection {
        &--single {
          border-color: $main-first-color;
        }
      }
    }
  }

  &-dropdown {
    border-color: $main-first-color;
    border-radius: 30px;
    overflow: hidden;
  }
}

.card {
  padding: 10px;
  background: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

  &-img {
    &-top {
      max-height: 180px;
      border-radius: 20px;
    }
  }

  &-body {
    padding: 20px 10px 10px;
  }

  &-title {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
  }

  &-text {
    margin: 0 0 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 27px;
  }

  &-link {

  }
}

.logo {
  svg {
    width: 210px;
    height: 39px;
  }
}

.languages {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background: #F4F4F4;
  border-radius: 12px;

  &__link {
    width: 45px;
    padding: 1px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    &.active {
      background: #FFFFFF;
      border: 2px solid $main-first-color;
      border-radius: 12px;
      color: $main-first-color;
    }

    &:hover {
      color: $main-first-color;
      text-decoration: none;
    }
  }
}

.ui-tabs {
  .ui-tabs {
    &-nav {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      padding: 10px;
      margin: 0 0 30px;
      border: 2px solid $main-second-color;
      border-radius: 999px;

      &::before, &::after {
        display: none;
      }

      li {
        padding: 10px 15px !important;
        margin: 0 !important;
        border: 2px solid transparent;
        border-radius: 99px;
        float: none;

        &:not(:last-child) {
          margin-right: 20px !important;
        }

        &.ui-tabs-active {
          border-color: $main-first-color;

          .ui-tabs-anchor {
            color: $main-first-color;
          }
        }
      }

      .ui-tabs-anchor {
        padding: 0;
        float: none !important;
        font-weight: 600;
        line-height: 20px;
      }
    }

    &-tab {
      margin: 0;

      &.ui-tabs-active {

      }
    }

    &-panel {
      padding: 0;
    }
  }
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;

  li {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    transition: $transition-base;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.active {
      border: 2px solid $main-first-color;
      border-radius: 24px;

      a {
        color: $main-first-color;
      }
    }

    a {
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
    }
  }
}

.rating-input {
  display: none;
}

.rating-container {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 0 20px;

  .rating-stars {
    display: block;
    width: 100%;
    max-width: 140px;
    margin: 0 auto;
    outline: none !important;
  }

  .star {
    margin: 0;

    &:not(:last-child) {
      margin-right: 5px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .empty-stars {
    .star {
      svg {
        fill: #D8D8D8;
      }
    }
  }

  .filled-stars {
    .star {
      svg {
        fill: $main-first-color;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .title {
    font-size: 35px;
    line-height: 1.5;
  }
}

@include media-breakpoint-up(md) {
  .title {
    font-size: 49px;
    line-height: 60px;
  }
}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {
}