// main colors
$main-first-color: #0047BA;
$main-second-color: #E0ECFF;
$main-third-color: blue;

// colors
$title-color: #1B1B1B;
$text-color: #1B1B1B;
$input-placeholder-color: #373737;

// fonts
$font-family-base: 'Montserrat', sans-serif;
$font-family-custom: 'Arial', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 16px;
$line-height-base: 1.7;

// behavior
$transition-base: all .3s ease 0s;

//Bootstrap var
$enable-shadows: false;
$body-color: $text-color;

$primary: $main-first-color;
$secondary: $main-second-color;
$light: #F4F4F4;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1470px,
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1440px,
);