.section-benefits {
  margin: 60px 0;

  .title {
    margin-bottom: 30px;
  }

  .subtitle {
    margin-bottom: 60px;
    font-weight: 500;
    line-height: 27px;
    white-space: pre-line;
  }
}

.benefits {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  &__box {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__ico {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    margin: 0 0 20px;
    background: #F5F9FF;
    border-radius: 25px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
  }

  &__text {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 27px;
  }
}

.section-benefits-line {
  margin-bottom: 60px;

  .title {
    margin-bottom: 30px;
  }

  .subtitle {
    max-width: 790px;
    margin-bottom: 60px;
    font-weight: 500;
  }
}

.benefits-line {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  &__box {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;

    &:not(:last-child) {
    }
  }

  &__ico {
    flex: 0 0 auto;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    margin: 0 0 10px;
    background: #F5F9FF;
    border-radius: 25px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  &__text {
    margin: 0;
    font-weight: 500;
  }
}

@media screen and (min-width: 375px) {
  .benefits-line {
    &__box {
      flex-flow: row nowrap;
      align-content: center;
      align-items: center;
    }

    &__ico {
      width: 72px;
      height: 72px;
      margin: 0 10px 0 0;
    }
  }
}
@include media-breakpoint-up(sm) {
  .benefits {
    flex-flow: row wrap;
    justify-content: space-between;

    &__box {
      width: 48%;
    }

    &__title {
      font-size: 22px;
      line-height: 27px;
    }
  }

  .benefits-line {
    &__box {
      max-width: 440px;
    }

    &__ico {
      margin: 0 20px 0 0;
    }
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .section-benefits {
    margin: 90px 0;
  }

  .benefits {
    &__ico {
      width: 90px;
      height: 90px;

      svg {
        width: 42px;
        height: 42px;
      }
    }
  }

  .benefits-line {
    &__box {
      margin-bottom: 60px;
    }

    &__ico {
      width: 90px;
      height: 90px;
      margin: 0 30px 0 0;

      svg {
        width: 42px;
        height: 42px;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .section-benefits {
    margin: 120px 0;
  }

  .benefits {
    &__box {
      max-width: 260px;

      &:not(:last-child) {
        margin: 0;
      }
    }
  }
}
@include media-breakpoint-up(xxl) {}