.section-breadcrumbs {
  margin: 37px 0;
}

.breadcrumbs {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:last-child {
      .breadcrumbs__link {
        color: #1B1B1B;
      }
    }
  }

  &__link {
    color: #D8D8D8;
    font-size: 13px;
    line-height: 16px;
  }

  svg {
    width: 4px;
    height: 8px;
    margin-left: 10px;
  }
}