.section-callback {
  margin-bottom: 60px;

  .section__substrate {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.callback-form {
  &__field {
    &-name {
      display: block;
      margin-bottom: 10px;
      color: #373737;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__submit {
    margin-top: 30px;
  }
}


@include media-breakpoint-up(sm) {
  .section-callback {
    margin-bottom: 90px;

    .section__substrate {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .section-callback {
    margin-bottom: 120px;

    .section__substrate {
      padding-top: 110px;
      padding-bottom: 110px;
    }
  }
}
@include media-breakpoint-up(xl) {
  .callback-form {
    &__submit {
      margin-top: 60px;
    }
  }
}
@include media-breakpoint-up(xxl) {}