.category-nav {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 1410px;
  height: 554px;

  &__box {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 31.2%;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}