.section-popular-category {
  margin: 60px 0;
}

.main-categories {
  &__tabs {}

  &__slider {
    overflow: visible;

    .swiper-slide {
      width: inherit;
      max-width: 210px;
    }
  }
}

@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .section-popular-category {
    margin: 90px 0;
  }
}
@include media-breakpoint-up(xl) {
  .section-popular-category {
    margin: 120px 0;
  }
}
@include media-breakpoint-up(xxl) {}