.section-category-nav {
  margin-bottom: 30px;
}

.category-nav {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;

  &__box {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 0 0 30px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

    .btn {
      width: 100%;
      max-width: 170px;
      height: 40px;
    }
  }

  &__name {
    color: #1B1B1B;
    font-weight: 600;
    margin: 0 0 25px;
  }
}


@include media-breakpoint-up(sm) {
  .section-category-nav {
    margin-bottom: 45px;
  }

  .category-nav {
    &__box {
      margin: 0 0 45px;
    }

    &__name {
      font-size: 22px;
      line-height: 27px;
    }
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .section-category-nav {
    margin-bottom: 60px;
  }

  .category-nav {
    &__box {
      width: 47%;
      max-width: 450px;
      margin: 0 0 60px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__name {
      margin: 0 0 52px;
    }
  }
}
@include media-breakpoint-up(xl) {
  .category-nav {
    &__box {
      width: 100%;
    }
  }
}
@include media-breakpoint-up(xxl) {}