.section-certificates {
  margin-bottom: 60px;
}

.certificates {
  &-slider {
    overflow: visible;
  }

  &__box {
    padding: 10px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

    picture {
      img {
        width: 100%;
        max-width: 190px;
        height: 253px;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .section-certificates {
    margin-bottom: 90px;
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .section-certificates {
    margin-bottom: 120px;
  }
}
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(xxl) {}