.section-faq {
  margin-bottom: 60px;

  .main-title {
    margin-bottom: 30px;
  }

  .subtitle {
    max-width: 538px;
    margin-bottom: 30px;

    &__content {
      margin: 20px;
    }
  }
}

.faq {
  &__box {
    width: 100%;
    max-width: 690px;
    padding: 10px;
    border: 1px solid #E0ECFF;
    border-radius: 20px;
    margin-bottom: 20px;

    &-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      &.active {
        .faq__box-header-trigger {
          &::after {
            transform: translate(-50%, -50%) rotate3d(0, 0, 1, 0deg);
          }
        }
      }

      &-trigger {
        flex: 0 0 auto;
        position: relative;
        width: 24px;
        height: 24px;
        margin-left: 20px;

        &:before, &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 2px;
          background-color: black;
          border-radius: 99px;
          transform: translate(-50%, -50%);
          transition: transform 0.25s ease-out;
        }

        &:after {
          transform: translate(-50%, -50%) rotate3d(0, 0, 1, 90deg);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &-title {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.25;
    }

    &-body {
      display: none;
    }

    &-text {
      padding-top: 20px;
      margin: 0;
      font-weight: 500;
    }
  }
}


@include media-breakpoint-up(sm) {
  .section-faq {
    margin-bottom: 90px;
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .section-faq {
    margin-bottom: 120px;

    .subtitle {
      margin-bottom: 60px;
    }
  }

  .faq {
    &__box {
      margin-bottom: 30px;

      &-title {
        font-size: 22px;
        line-height: 27px;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .faq {
    &__box {
      padding: 20px;
    }
  }
}
@include media-breakpoint-up(xxl) {}