.section-home {
  margin: 0 0 120px;

  .container {
    padding-top: 126px;
    padding-bottom: 126px;
  }

  .main-title {
    margin-bottom: 30px;
  }
}

.home {
  &__description {
    max-width: 870px;
  }

  &__text {
    font-weight: 500;
    line-height: 27px;
  }
}