.section-schedule {
  margin-bottom: 60px;

  .section__substrate {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .benefits-line {
    &__ico {
      background: white;
    }
    &__text {
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
    }
  }
}

.main-schedule {
  &__text {
    margin: 0;
    font-weight: 500;
  }
}

@include media-breakpoint-up(sm) {
  .section-schedule {
    margin-bottom: 90px;

    .section__substrate {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .section-schedule {
    margin-bottom: 120px;

    .section__substrate {
      padding-top: 110px;
      padding-bottom: 110px;
    }
  }
}
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(xxl) {}