.section-main-home {
  margin-top: 30px;
}

.main-home {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    margin: 0 0 30px;
    font-size: 100px;
    font-weight: 700;
    line-height: 122px;
  }

  &__text {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
  }

  &__pic {
    margin-right: 70px;

    img {
      width: 100%;
      max-width: 500px;
      max-height: 500px;
    }
  }

  &-actions {
    margin-top: 60px;

    .btn {
      margin-right: 30px;

      &-primary {
        svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}


@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .section-main-home {
    margin-top: 90px;
  }
}
@include media-breakpoint-up(xl) {}