.section-ordering {
  margin: 90px 0 120px;
}

.ordering {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;

  &-info {
    width: 100%;
    max-width: 690px;

    &__form {
      counter-reset: title;

      label {
        display: flex;
        flex-flow: column wrap;
        margin: 0;

        &:not(:last-child) {
          display: inline-flex;
          flex-flow: column wrap;
          justify-content: flex-start;
          align-content: stretch;
          align-items: stretch;
          margin-right: 20px;
        }

        .form-control {
          margin: 0 0 30px;
        }
      }
    }

    &__title {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      margin: 0 0 30px;
      font-size: 22px;
      font-weight: 700;
      line-height: 27px;

      &::before {
        content: counter(title);
        counter-increment: title;
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        margin-right: 30px;
        background: #f5f9ff;
        border-radius: 100%;
        font-weight: 600;
        font-size: 1rem;
        line-height: 20px;
      }
    }

    &__method {
      &-head {
        margin: 0 0 30px;
      }

      &-body {
        fieldset {
          //display: none;
          padding: 0;
          margin: 0;
          border: none;
          outline: none;
        }
      }
    }

    &__card-list {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      padding: 0;
      margin: 0 0 20px;

      &.alternate-payment {
        position: relative;
        padding-top: 37px;
        margin: 0;

        &::before, &::after {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        &::before {
          content: '';
          top: 8px;
          width: 100%;
          height: 1px;
          background: #d8d8d8;
        }

        &::after {
          content: attr(data-note);
          padding: 0 20px;
          background: #f5f9ff;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
      }

      label {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .pseudo {
          &-radio, &-checkbox {
            &__text {
              font-weight: 600 !important;
            }
          }
        }
      }
    }

    &__card {
      &-number {
        letter-spacing: 0.57em;
        text-align: center;
      }

      &-info {
        width: 90px;
        height: 40px;
        padding: 10px 21px;
        text-align: center;
      }

      .btn {
        margin-bottom: 20px;
      }
    }

    &__note {
      width: 100%;
      max-width: 450px;
      padding: 30px;
      background: #f5f9ff;
      border-radius: 30px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &-text {
        margin: 0;
        font-size: 14px;
        line-height: 24px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &-cart {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);

    &-list {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      padding: 0 0 20px;
      margin: 0 0 20px;
      border-bottom: 1px solid #F4F4F4;

      li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      &__remove {
        padding: 0;
        margin-right: 20px;
        background: none;
        border: none;

        svg {
          width: 24px;
          height: 24px;
          pointer-events: none;
        }
      }

      &__name {
        font-weight: 600;
        line-height: 20px;
      }

      &__price {
        font-weight: 600;
        line-height: 20px;
      }

      .cart__counter {
        margin: 0 20px;
      }
    }

    &__delivery-price {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
      padding: 0 0 20px;
      margin: 0 0 20px;
      border-bottom: 1px solid #F4F4F4;
      font-size: 1rem;
      font-weight: 500;
      line-height: 20px;
    }

    &__summary {

      &-text {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
        margin: 0 0 20px;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
      }
    }

    &__note {
      margin: 20px 0 0;
      font-size: 14px;
      line-height: 22px;

      a {
        text-decoration: underline;
      }
    }
  }
}