.section-partners {
  margin: 0 0 60px;
}

.partners {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  &__pic {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }
}


@include media-breakpoint-up(sm) {
  .partners {
    &__pic {
      width: 33%;;
    }
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .partners {
    &__pic {
      flex: 0 0 25%;
      width: 25%;
      height: 100px;
      margin-bottom: 60px;
    }
  }
}
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(xxl) {}