.section-product-card {
  margin-bottom: 120px;
}

.product {
  &-pic {
    display: block;
    width: 100%;
    margin: 0 0 30px;

    img {
      width: 100%;
      max-height: 330px;
      border-radius: 30px;
    }
  }

  &-content {
    padding: 15px;
    margin: 0 0 30px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;

    &__title {
      display: flex;
      flex-flow: column-reverse wrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: stretch;
      margin: 0 0 20px;
      font-weight: 700;
      font-size: 29px;
      line-height: 35px;
    }

    &__price {
      margin: 0 0 20px;
      flex: 0 0 auto;
      font-size: 22px;
      font-weight: 700;
      line-height: 27px;

      &::after {
        content: ' / 'attr(data-counter);
      }

      span {
        font-weight: 500;
      }
    }

    &__tabs {
      .ui-tabs {
        padding: 0;

        .ui-tabs-nav {
          margin-bottom: 20px;
        }
      }
    }

    &__text {
      margin-bottom: 20px;
    }

    &__counter {
      width: 100%;
      max-width: 100px;
      height: 40px;
      padding: 10px 40px;
      background: none;
      border: 2px solid #e0ecff;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: 600;
      line-height: 20px;
      text-align: center;

      &-wrap {
        position: relative;
        margin-bottom: 20px;
      }

      &-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &_minus {
          width: 24px;
          height: 24px;
          left: 6px;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 2px;
            background: #1b1b1b;
            border-radius: 10px;
            transform: translate(-50%, -50%);
          }
        }

        &_plus {
          width: 24px;
          height: 24px;
          right: 6px;

          &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: #1b1b1b;
            border-radius: 10px;
            transform: translate(-50%, -50%);
          }

          &::before {
            width: 10px;
            height: 2px;
          }

          &::after {
            width: 2px;
            height: 10px;
          }
        }
      }
    }

    &__contacts {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      margin-bottom: 30px;

      .social {
        display: inline-flex;
        margin: 0 20px 20px 0;

        &__link {
          margin: 0;

          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }

      .phone-list {
        display: inline-flex;
        flex-direction: row;

        li {
          margin: 0;

          &:not(:first-child) {
            padding-left: 10px;
            margin-left: 10px;
            border-left: 2px solid #D8D8D8;
          }
        }
      }
    }

    &__actions {
      .btn {
        margin-right: 20px;
      }
    }

    &__wish {
      margin: 0;

      svg {
        margin: 0;
      }
    }

    &__video {
      display: flex;

      iframe {
        width: 100%;
        max-width: 630px;
        height: 277px;
        border-radius: 20px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &-review {
    &__box {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      padding: 20px;
      margin: 0 0 30px;
      background: #FFFFFF;
      border-radius: 30px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);

      &-heading {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin: 0 0 20px;
      }

      &-body {}
    }

    &__name {
      font-weight: 500;
      line-height: 20px;
    }

    &__date {
      font-size: 14px;
      line-height: 17px;
    }

    &__text {
      margin: 0;
      font-size: 1rem;
      line-height: 20px;
    }
  }

  &-info {
    padding: 15px;
    border: 2px solid $main-second-color;
    border-radius: 40px;

    &__box {
      font-size: 1rem;
      font-weight: 500;
      line-height: 20px;

      &:not(:last-child) {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #F4F4F4;
      }

      &-title {
        margin: 0 0 20px;
        font-weight: 600;
        line-height: 20px;
      }

      .phone-list {
        margin-bottom: 10px;
      }

      &-text {
        margin-bottom: 10px;

        &_sm {
          margin: 0;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
      }

      &-list {
        padding: 0;
        margin: 0;

        li {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }

      p {
      }
    }
  }

  &-options {
    &-wrap {
      margin-top: 60px;
    }

    &__title {
      margin: 0 0 30px;
      font-size: 29px;
      font-weight: 700;
      line-height: 35px;
    }

    &__box {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding: 20px;
      background: #f5f9ff;
      border-radius: 20px;

      &:not(:last-child) {
        margin: 0 0 30px;
      }
    }

    &__name {
      flex: 1 1 auto;
      margin: 0 0 20px;
      font-size: 22px;
      font-weight: 700;
      line-height: 27px;

      &-counter {
        margin-left: 20px;

        &::after {
          content: ' / 'attr(data-counter);
          font-size: 22px;
          font-weight: 500;
          line-height: 27px;
        }
      }
    }

    &__action {
      display: inline-flex;
      max-width: 205px;

      .product-content__counter-wrap {
        margin: 0;
      }

      .btn {
        margin-left: 20px;
      }
    }
  }
}


@include media-breakpoint-up(sm) {
  .product {
    &-content {
      &__contacts {
        flex-flow: row wrap;
        align-content: center;
        align-items: center;

        .social {
          margin: 0 20px 0 0;
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .product {
    &-content {
      &__title {
        flex-flow: row nowrap;
        align-content: center;
        align-items: center;
      }

      &__price {
        margin: 0;
      }
    }

    &-options {
      &__box {
        flex-flow: row nowrap;
      }

      &__name {
        padding-right: 20px;
        margin: 0;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .product {
    &-content {
      padding: 30px;
    }

    &-info {
      padding: 30px;
    }

    &-options {
      &__box {
        flex-flow: column wrap;
      }

      &__name {
        padding: 0;
        margin: 0 0 20px;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .product {
    &-pic {
      display: inline;

      img {
        max-width: 330px;
        height: 330px;
        border-radius: 30px;
      }
    }

    &-content {
      margin: 0;
    }

    &-options {
      &__box {
        flex-flow: row nowrap;
      }

      &__name {
        padding-right: 20px;
        margin: 0;
      }
    }
  }
}
@include media-breakpoint-up(xxl) {}