.section-reviews {
  margin: 0 0 60px;

  .section__substrate {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .title {
    margin: 0 0 20px;
    white-space: pre-line;
  }
}

.review {
  .container-heading {
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: flex-start;

    .btn {
      font-size: inherit;
    }
  }

  &-slider {
    overflow: visible;
  }

  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    max-width: 330px;
    height: 420px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 40px;

    &__text {
      margin-bottom: 46px;
      line-height: 27px;
    }

    &__info {

    }

    &__author {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 17px;
    }

    &__product {
      margin: 0;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

@media screen and (min-width: 375px) {
  .section-reviews {
    .title {
      margin: 0;
    }
  }

  .review {
    .container-heading {
      flex-flow: row nowrap;
      align-content: center;
      align-items: center;
    }
  }
}
@include media-breakpoint-up(sm) {
  .section-reviews {
    .section__substrate {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}
@include media-breakpoint-up(md) {
  .review {
    &-card {
      padding: 30px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .section-reviews {
    margin: 0 0 90px;

    .section__substrate {
      padding-top: 110px;
      padding-bottom: 110px;
    }
  }
}
@include media-breakpoint-up(xl) {
  .section-reviews {
    margin: 0 0 120px;
  }
}
@include media-breakpoint-up(xxl) {}