/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;

  .section__substrate {
    max-width: 1800px;
    padding: 30px 0;
  }
}

.footer {
  &-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    &__box {
      flex: 0 0 auto;
      width: 100%;

      &:not(:last-child) {
        margin: 0 0 30px;
      }
    }

    &__title {
      margin-bottom: 20px;
      font-size: 22px;
      font-weight: 700;
      line-height: 27px;
    }

    &__nav {
      padding: 0;
      margin: 0;

      li {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        a {
          font-weight: 500;
        }
      }
    }

    &__contacts {
      max-width: 300px;

      &-text {
        margin-bottom: 30px;
        font-weight: 500;
        line-height: 27px;
      }

      &-phones {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        padding: 0;
        margin: 0;

        li {
          margin: 0 30px 30px 0;

          a {
            font-weight: 500;
          }
        }
      }

      .schedule {
        max-width: 180px;

        li {
          font-size: 1rem;
          font-weight: 500;

          span {
            &:last-child {
              width: 95px;
            }
          }
        }
      }
    }
  }

  &-social {
    margin-top: 48px;

    &__text {
      margin-bottom: 20px;
      font-weight: 500;
    }
  }
}

.copyright {
  padding: 22px 0;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}



@media screen and (min-width: 375px) {
  .footer {
    &-content {
      flex-flow: row wrap;

      &__box {
        width: 50%;

        &:first-child, &:last-child {
          width: 100%;
        }
      }

      &-social {
        .social {
          max-width: 180px;
        }
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  footer.footer {
    .section__substrate {
      padding: 60px 0;
    }
  }

  .footer {
    &-content {
      &__box {
        width: 50%;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .footer {
    &-content {
      &__box {


        &:not(:first-child) {
          width: 33%;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  footer.footer {
    .section__substrate {
      padding: 110px 0;
    }
  }

  .footer {
    &-content {
      &__box {
        width: 25% !important;
      }
    }

    &-social {
      margin-top: 47px;

      .social {
        max-width: 180px;
      }
    }
  }
}
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(xxl) {}