/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: relative;
  min-width: 320px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 23px 20px rgba(0, 0, 0, 0.02);
  z-index: 100;
}

.header {
  .container {
    position: relative;
  }

  &-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    .logo {
      align-self: center;
    }

    .languages {
      align-self: center;
    }
  }

  &-nav {
    &__toggle {
      display: none;
      width: 40px;
      height: 40px;
      background: #FAFAFA;
      border: none;
      border-radius: 10px;

      &::before, &::after {
        content: '';
      }

      span {

      }
    }

    &__list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      &> li {
        position: relative;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        z-index: 2;

        &:not(:last-child) {
          margin-right: 98px;
        }

        svg {
          width: 12px;
          height: 12px;
          margin-left: 12px;
          transition: $transition-base;
        }

        &:hover {
          svg {
            transform: rotate3d(1, 0, 0, 180deg);
          }

          .header-nav__dropdown {
            top: -20px;
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, 0) scaleY(1);
          }
        }
      }

      li {
        a {
          font-size: 1rem;
          font-weight: 600;
          line-height: 20px;
        }
      }
    }

    &__dropdown {
      position: absolute;
      top: 100%;
      left: 50%;
      width: calc(100% + 40px);
      padding: 60px 20px 20px;
      background: #FFFFFF;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, .05);
      border-radius: 20px;
      opacity: 0;
      visibility: hidden;
      transform: translate(-50%, -50%) scaleY(0);
      transition: $transition-base;
      z-index: -1;

      &-list {
        padding: 0;
        margin: 0;

        &> li {
          &:not(:last-child) {
            margin-bottom: 20px;
          }

          a {
            font-size: 1rem;
            font-weight: 600;
            line-height: 20px;
          }
        }
      }
    }
  }

  &-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &-search {
    width: 100%;
    max-width: 510px;

    label {
      position: relative;
      display: block;
      margin: 0;
    }

    &__input {
      width: 100%;
      padding: 10px 44px 10px 10px;
      background: #FAFAFA;
      border: 0;
      border-radius: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }

    &__button {
      position: absolute;
      top: 50%;
      right: 10px;
      padding: 0;
      background: none;
      border: none;
      transform: translateY(-50%);

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &-contacts {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    z-index: 1;

    &> svg {
      width: 12px;
      height: 12px;
      margin-left: 10px;
      transition: $transition-base;
    }

    &__dropdown {
      position: absolute;
      top: 100%;
      left: 50%;
      width: calc(100% + 40px);
      padding: 64px 20px 20px;
      background: #FFFFFF;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      transform: translate(-50%, -50%) scaleY(0);
      transition: $transition-base;
      z-index: -1;

      .phone-list {
        padding: 0 0 20px;
        margin: 0 0 20px;
        border-bottom: 1px solid #F4F4F4;
      }

      .social {
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 1px solid #F4F4F4;
      }
    }

    &:hover {
      &> svg {
        transform: rotate3d(1, 0, 0, 180deg);
      }

      .header-contacts__dropdown {
        top: -20px;
        transform: translate(-50%, 0) scaleY(1);
      }
    }
  }

  &-actions {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    .cart {
      margin-right: 20px;
    }

    &__account {
      margin-right: 20px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &__btn {

    }
  }
}

.phone-list {
  padding: 0;
  margin: 0;

  li {}

  &__link {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
}

.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  &__link {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    background: #E0ECFF;
    border-radius: 10px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    svg {
      width: 20px;
      height: 20px;
      transition: $transition-base;
    }

    &:hover {
      svg {
        fill: $main-first-color;
      }
    }
  }
}

.schedule {
  padding: 0;
  margin: 0;

  li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    span {

    }
  }
}

.cart {
  &__ico {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__dropdown {
    position: absolute;
  }
}

.catalog {
  flex: 0 0 330px;

  &:hover {
    .catalog__list-wrapper {
      transform: translate(-50%, 0) scaleY(1);
    }
  }

  &__toggle {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 40px;
    overflow: visible;

    svg {
      width: 24px;
      height: 24px;
      margin: 0;
    }

    &-text {
      margin-left: 10px;
    }
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    max-width: 330px;
    padding: 30px 0;
    margin: 0;

    &-wrapper {
      position: absolute;
      top: 100%;
      left: 50%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      width: 100%;
      background: #FFFFFF;
      border-radius: 0 0 40px 40px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      //overflow: hidden;
      transform: translate(-50%, -50%) scaleY(0);
      transition: $transition-base;

      &.opened {
        transform: translate(-50%, 0) scaleY(1);
      }
    }

    &> li {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding: 0 20px;

      &:not(:last-child) {
        margin-bottom: 60px;
      }

      &> a {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        svg {
          width: 32px;
          height: 32px;
          margin-right: 10px;
        }
      }

      &> svg {
        width: 14px;
        height: 14px;
        transform: rotate(-90deg);
      }

      &:hover {
        .catalog__sublist-wrap {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__sublist {
    //flex: 0 0 20%;
    //display: flex;
    //flex-flow: column wrap;
    //justify-content: flex-start;
    //align-content: stretch;
    //align-items: stretch;
    width: 23%;
    padding: 0;
    margin: 0;
    float: right;

    &:not(:last-child) {
      margin: 0 20px 30px 0;
    }

    &-wrap {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      width: calc(100% - 330px);
      //min-height: 100%;
      padding: 30px 20px;
      background: white;
      opacity: 0;
      visibility: hidden;
      transition: $transition-base;
    }

    &> li {
      &> a {
        font-weight: 600;
        line-height: 20px;
      }
    }
  }

  &__dropdown {
    padding: 10px 0 0;
    margin: 0;

    &-toggle {}

    &> li {
      &:not(:last-child) {
        margin: 0 0 10px;
      }

      &> a {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 320px) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(xxl) {}