<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Видео</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container header-top">
            <a href="index.html" class="logo">
                <svg>
                    <use xlink:href="./img/spritemap.svg#sprite-logo"></use>
                </svg>
            </a>

            <div class="header-nav">
                <ul class="header-nav__list">
                    <li><a href="constructor-nav.html">Конструктор</a></li>

                    <li><a href="blog.html">Статті</a></li>

                    <li><a href="delivery-payment.html">Доставка і оплата</a></li>

                    <li>
                        <a href="about-us.html">Про компанію</a>
                        <svg>
                            <use xlink:href="./img/spritemap.svg#sprite-chevron"></use>
                        </svg>

                        <div class="header-nav__dropdown">
                            <ul class="header-nav__dropdown-list">
                                <li><a href="video-page.html">Відео</a></li>
                                <li><a href="video-review.html">Відгуки</a></li>
                                <li><a href="faq.html">Часті запитання</a></li>
                                <li><a href="contacts.html">Контакти</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <nav class="languages">
                <a href="#ua" class="languages__link active">UA</a>
                <a href="#ru" class="languages__link">RU</a>
            </nav>

            <button class="btn btn-primary header-top__modal-open">
                <svg>
                    <use xlink:href="./img/spritemap.svg#sprite-message"></use>
                </svg>
            </button>
        </div>

        <div class="container header-bottom">
            <div class="catalog">
                <button class="catalog__toggle btn btn-secondary">
                    <svg>
                        <use xlink:href="./img/spritemap.svg#sprite-catalog"></use>
                    </svg>
                    Каталог
                </button>

                <div class="catalog__list-wrapper">
                    <ul class="catalog__list">
                        <!-- level 1 -->
                        <li>
                            <a href="category-page.html">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-sint"></use>
                                </svg>
                                Зовнішня реклама</a>
                            <svg class="catalog__sublist-toggle">
                                <use xlink:href="./img/spritemap.svg#sprite-chevron"></use>
                            </svg>

                            <div class="catalog__sublist-wrap">
                                <button class="catalog__sublist-return">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-chevron"></use>
                                    </svg>
                                    Каталог
                                </button>

                                <!-- level 2-->
                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Виготовлення вивісок</a>
                                        <button type="button" class="catalog__dropdown-toggle"></button>

                                        <!-- level 3 -->
                                        <div class="catalog__dropdown-wrap">
                                            <ul class="catalog__dropdown">
                                                <li><a href="category-inner.html">Вивіски скляні</a></li>
                                                <li><a href="category-inner.html">Вивіски фасадні</a></li>
                                                <li><a href="category-inner.html">Вивіски металеві</a></li>
                                                <li><a href="category-inner.html">Вивіски з об’ємними літерами</a></li>
                                                <li><a href="category-inner.html">Виготовлення лайтбоксів</a></li>
                                                <li><a href="category-inner.html">Виготовлення акрилайтів</a></li>
                                                <li><a href="category-inner.html">Друк банерів</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Щити, штендери</a>
                                        <button type="button" class="catalog__dropdown-toggle"></button>

                                        <!-- level 3 -->
                                        <div class="catalog__dropdown-wrap">
                                            <ul class="catalog__dropdown">
                                                <li><a href="category-inner.html">Інформаційні щити з кишенями</a></li>
                                                <li><a href="category-inner.html">Друк паспортів об’єктів, схем</a></li>
                                                <li><a href="category-inner.html">Інформаційні стенди</a></li>
                                                <li><a href="category-inner.html">Плани розміщення служб</a></li>
                                                <li><a href="category-inner.html">Щити з символікою</a></li>
                                                <li><a href="category-inner.html">Виставкове обладнання</a></li>
                                                <li><a href="category-inner.html">Рекламні щити-вивіски</a></li>
                                                <li><a href="category-inner.html">Штендери-стенди</a></li>
                                                <li><a href="category-inner.html">Куточки споживача</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Таблички та номерки</a>
                                        <button type="button" class="catalog__dropdown-toggle"></button>

                                        <!-- level 3 -->
                                        <div class="catalog__dropdown-wrap">
                                            <ul class="catalog__dropdown">
                                                <li><a href="category-inner.html">Металеві</a></li>
                                                <li><a href="category-inner.html">В алюмінієвій рамочці</a></li>
                                                <li><a href="category-inner.html">Скляні</a></li>
                                                <li><a href="category-inner.html">Пластикові, акрилові</a></li>
                                                <li><a href="category-inner.html">Таблички на ручку дверей</a></li>
                                                <li><a href="category-inner.html">Адресні таблички</a></li>
                                                <li><a href="category-inner.html">Плани евакуації</a></li>
                                                <li><a href="category-inner.html">Наклейки</a></li>
                                                <li><a href="category-inner.html">Шильди</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Брелки, номерки гардеробні</a>
                                        <button type="button" class="catalog__dropdown-toggle"></button>

                                        <!-- level 3 -->
                                        <div class="catalog__dropdown-wrap">
                                            <ul class="catalog__dropdown">
                                                <li><a href="category-inner.html">Вивіски скляні</a></li>
                                                <li><a href="category-inner.html">Вивіски фасадні</a></li>
                                                <li><a href="category-inner.html">Вивіски металеві</a></li>
                                                <li><a href="category-inner.html">Вивіски з об’ємними літерами</a></li>
                                                <li><a href="category-inner.html">Виготовлення акрилайтів</a></li>
                                                <li><a href="category-inner.html">Друк банерів</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Виготовлення логотипів</a>
                                        <button type="button" class="catalog__dropdown-toggle"></button>

                                        <!-- level 3 -->
                                        <div class="catalog__dropdown-wrap">
                                            <ul class="catalog__dropdown">
                                                <li><a href="category-inner.html">Акрилові логотипи</a></li>
                                                <li><a href="category-inner.html">Об’ємні літери</a></li>
                                                <li><a href="category-inner.html">На акриловій основі</a></li>
                                                <li><a href="category-inner.html">На фасад будівель</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="category-page.html">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-prize"></use>
                                </svg>
                                Сувенірна продукція</a>
                            <svg class="catalog__sublist-toggle">
                                <use xlink:href="./img/spritemap.svg#sprite-chevron"></use>
                            </svg>

                            <div class="catalog__sublist-wrap">
                                <button class="catalog__sublist-return">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-chevron"></use>
                                    </svg>
                                    Каталог
                                </button>

                                <!-- level 2-->
                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Бейджи
                                        </a>
                                        <button type="button" class="catalog__dropdown-toggle"></button>

                                        <!-- level 3 -->
                                        <div class="catalog__dropdown-wrap">
                                            <ul class="catalog__dropdown">
                                                <li><a href="category-inner.html">Виготовлення бейджів металевих</a></li>
                                                <li><a href="category-inner.html">Виготовлення пластикових бейджів</a></li>
                                                <li><a href="category-inner.html">Виготовлення бейджів пластикових (готове рішення)</a></li>
                                                <li><a href="category-inner.html">Виготовлення бейджів на шнурці</a></li>
                                                <li><a href="category-inner.html">Виготовлення значків металевих</a></li>
                                                <li><a href="category-inner.html">Продаж бейджів металевих (готове рішення)</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Купити магніти для бейджів</a>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Купити шпильки для бейджів</a>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Нагородна атрибутика - призи і статуетки</a>
                                        <button type="button" class="catalog__dropdown-toggle"></button>

                                        <!-- level 3 -->
                                        <div class="catalog__dropdown-wrap">
                                            <ul class="catalog__dropdown">
                                                <li><a href="category-inner.html">Акрилові призи, нагороди, стели, статуетки</a></li>
                                                <li><a href="category-inner.html">Скляні призи, нагороди, статуетки</a></li>
                                                <li><a href="category-inner.html">Фанерні призи, нагороди, стели, статуетки</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Дипломи, привітання</a>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Друк запрошень</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="category-page.html">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-printer"></use>
                                </svg>
                                Ультрафіолетовий друк</a>

                            <svg class="catalog__sublist-toggle">
                                <use xlink:href="./img/spritemap.svg#sprite-chevron"></use>
                            </svg>

                            <div class="catalog__sublist-wrap">
                                <button class="catalog__sublist-return">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-chevron"></use>
                                    </svg>
                                    Каталог
                                </button>

                                <!-- level 2-->
                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">УФ друк акрилових та скляних призів</a>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">УФ друк табличок, вивісок</a>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">УФ друк табличок на ручку двері</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="category-page.html">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-machine"></use>
                                </svg>
                                Фрезерні роботи</a>
                            <svg class="catalog__sublist-toggle">
                                <use xlink:href="./img/spritemap.svg#sprite-chevron"></use>
                            </svg>

                            <div class="catalog__sublist-wrap">
                                <button class="catalog__sublist-return">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-chevron"></use>
                                    </svg>
                                    Каталог
                                </button>

                                <!-- level 2-->
                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Трафарети виготовлення</a>
                                        <button type="button" class="catalog__dropdown-toggle"></button>

                                        <!-- level 3 -->
                                        <div class="catalog__dropdown-wrap">
                                            <ul class="catalog__dropdown">
                                                <li><a href="category-inner.html">Виготовлення трафаретів з пластику</a></li>
                                                <li><a href="category-inner.html">Виготовлення трафаретів з картону</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Виготовлення шильдів</a>
                                        <button type="button" class="catalog__dropdown-toggle"></button>

                                        <!-- level 3 -->
                                        <div class="catalog__dropdown-wrap">
                                            <ul class="catalog__dropdown">
                                                <li><a href="category-inner.html">Шильди металеві (повнокольоровий друк на алюмінії)</a></li>
                                                <li><a href="category-inner.html">Гравірування на двошаровому гравірувальному пластиці</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Вироби з фанери</a>
                                        <button type="button" class="catalog__dropdown-toggle"></button>

                                        <!-- level 3 -->
                                        <div class="catalog__dropdown-wrap">
                                            <ul class="catalog__dropdown">
                                                <li><a href="category-inner.html">Виготовлення коробок з фанери</a></li>
                                                <li><a href="category-inner.html">Виготовлення фанерних брелків</a></li>
                                                <li><a href="category-inner.html">Виготовлення хештегів з фанери</a></li>
                                                <li><a href="category-inner.html">Виготовлення підставок під чашки</a></li>
                                                <li><a href="category-inner.html">Виготовлення фанерних табличок на ручку дверей</a></li>
                                                <li><a href="category-inner.html">Виготовлення фанерних іграшок на ялинку</a></li>
                                                <li><a href="category-inner.html">Виготовлення нагород, стел, статуеток із фанери</a></li>
                                                <li><a href="category-inner.html">Виготовлення табличок з фанери</a></li>
                                                <li><a href="category-inner.html">Виготовлення підставок для телефонів, планшетів</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="catalog__sublist">
                                    <li>
                                        <a href="subcategory-page.html">Гравірування, порізка матеріалів</a>
                                        <button type="button" class="catalog__dropdown-toggle"></button>

                                        <!-- level 3 -->
                                        <div class="catalog__dropdown-wrap">
                                            <ul class="catalog__dropdown">
                                                <li><a href="category-inner.html">Лазерне гравірування на шкірі</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="category-page.html">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-material"></use>
                                </svg>
                                Матеріали</a>
                        </li>
                    </ul>

                    <div class="mobile-menu">
                        <div class="header-nav">
                            <ul class="header-nav__list">
                                <li><a href="constructor-nav.html">Конструктор</a></li>
                                <li><a href="blog.html">Статті</a></li>
                                <li><a href="delivery-payment.html">Доставка і оплата</a></li>
                                <li><a href="about-us.html">Про компанію</a></li>
                                <li><a href="#">Відео</a></li>
                                <li><a href="#">Відгуки</a></li>
                                <li><a href="faq.html">Часті запитання</a></li>
                                <li><a href="#">Контакти</a></li>
                            </ul>
                        </div>

                        <div class="mobile-menu__box">
                            <ul class="phone-list">
                                <li><a href="tel:+380977851818" class="phone-list__link"><svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-phone-call"></use>
                                </svg>097-785-18-18</a></li>
                                <li><a href="tel:+380445923664" class="phone-list__link"><svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-phone-call"></use>
                                </svg>044-592-36-64</a></li>
                            </ul>
                        </div>

                        <div class="mobile-menu__box">
                            <ul class="schedule">
                                <li><span>Пн - Пт</span><span>9:00 - 18:00</span></li>
                                <li><span>Сб - Нд</span><span>Вихідні</span></li>
                            </ul>

                            <div class="d-flex flex-row flex-wrap justify-content-between align-content-center align-items-center">
                                <nav class="social">
                                    <a href="#" class="social__link" target="_blank">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-tg"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="social__link" target="_blank">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-viber"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="social__link" target="_blank">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-mail"></use>
                                        </svg>
                                    </a>
                                </nav>

                                <nav class="languages">
                                    <a href="#" class="languages__link active">UA</a>
                                    <a href="#" class="languages__link">RU</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form action="" class="header-search">
                <label for="search_field">
                    <input type="search" id="search_field" class="header-search__input" placeholder="Пошук">
                    <button type="button" class="header-search__button">
                        <svg>
                            <use xlink:href="./img/spritemap.svg#sprite-search"></use>
                        </svg>
                    </button>
                </label>
            </form>

            <div class="header-contacts">
                <a href="tel:+380977851818" class="phone-list__link">
                    <svg>
                        <use xlink:href="./img/spritemap.svg#sprite-phone-call"></use>
                    </svg>
                    097-785-18-18</a>

                <svg>
                    <use xlink:href="./img/spritemap.svg#sprite-chevron"></use>
                </svg>

                <div class="header-contacts__dropdown">
                    <ul class="phone-list">
                        <li><a href="tel:+380445923664" class="phone-list__link">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-phone-call"></use>
                            </svg>
                            044-592-36-64</a></li>
                    </ul>

                    <nav class="social">
                        <a href="#" class="social__link" target="_blank">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-tg"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link" target="_blank">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-viber"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link" target="_blank">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-mail"></use>
                            </svg>
                        </a>
                    </nav>

                    <ul class="schedule">
                        <li>
                            <span>Пн - Пт</span>
                            <span>9:00 - 18:00</span>
                        </li>
                        <li>
                            <span>Сб - Нд</span>
                            <span>Вихідні</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header-actions">
                <div class="cart">
                    <button type="button" class="cart__ico btn btn-secondary">
                        <svg>
                            <use xlink:href="./img/spritemap.svg#sprite-cart"></use>
                        </svg>
                        <!--<svg>
                            <use xlink:href="./img/spritemap.svg#sprite-cart-full"></use>
                        </svg>-->
                    </button>

                    <div class="cart__dropdown">
                        <ul class="cart__dropdown-list">
                            <li class="cart__item">
                                <button class="cart__item-remove">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-close-around"></use>
                                    </svg>
                                </button>

                                <div class="cart__item-info">
                                    <picture class="cart__item-pic">
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="image" title="image">
                                    </picture>

                                    <p class="cart__item-name"><a href="#">Бейдж Вбб1</a></p>
                                </div>

                                <form action="" class="cart__counter">
                                    <label>
                                        <button type="button" class="cart__counter-btn cart__counter-btn_minus">-</button>
                                        <input type="number" class="cart__counter-field" value="1" min="1" max="9999">
                                        <button type="button" class="cart__counter-btn cart__counter-btn_plus">+</button>
                                    </label>
                                </form>

                                <span class="cart__item-summary">999₴</span>
                            </li>

                            <li class="cart__item">
                                <button class="cart__item-remove">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-close-around"></use>
                                    </svg>
                                </button>

                                <div class="cart__item-info">
                                    <picture class="cart__item-pic">
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="image" title="image">
                                    </picture>

                                    <p class="cart__item-name"><a href="#">Магніт, Код В1</a></p>
                                </div>

                                <form action="" class="cart__counter">
                                    <label>
                                        <button type="button" class="cart__counter-btn cart__counter-btn_minus">-</button>
                                        <input type="number" class="cart__counter-field" value="1" min="1" max="9999">
                                        <button type="button" class="cart__counter-btn cart__counter-btn_plus">+</button>
                                    </label>
                                </form>

                                <span class="cart__item-summary">1000₴</span>
                            </li>
                        </ul>

                        <div class="cart__dropdown-footer">
                            <button class="btn btn-primary">Оформити замовлення</button>
                            <span class="cart__summary">1999₴</span>
                        </div>

                        <!-- message empty cart -->
                        <div class="cart__dropdown-footer" hidden>
                            <p class="cart__dropdown-footer-text">Корзина пуста</p>
                        </div>
                    </div>
                </div>

                <a href="#" class="header-actions__account btn btn-secondary">
                    <svg>
                        <use xlink:href="./img/spritemap.svg#sprite-user"></use>
                    </svg>
                </a>

                <button class="header-actions__btn btn btn-primary">Замовити</button>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-breadcrumbs">
            <div class="container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Головна</a>
                        <svg>
                            <use xlink:href="./img/spritemap.svg#sprite-bread-logo"></use>
                        </svg>
                    </li>

                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link">Відео</span>
                    </li>
                </ul>
            </div>
        </section>

        <section class="section section-main-video">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <p class="main-title">Наші відео</p>
                    </div>

                    <div class="col-auto">
                        <div class="social-links">
                            <a href="#" class="btn btn-secondary">Youtube<svg><use xlink:href="./img/spritemap.svg#sprite-youtube"></use></svg></a>
                        </div>
                    </div>
                </div>

                <div class="main-video">
                    <p class="main-video__title">Виробництво вивісок</p>

                    <div class="main-video__slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-video">
                    <p class="main-video__title">Виробництво вивісок</p>

                    <div class="main-video__slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-video">
                    <p class="main-video__title">Виробництво вивісок</p>

                    <div class="main-video__slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-video">
                    <p class="main-video__title">Виробництво вивісок</p>

                    <div class="main-video__slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="swiper-slide main-video__box">
                                <iframe src="https://www.youtube.com/embed/PRLAinAx5sI" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="section__substrate">
            <div class="container">
                <div class="footer-content">
                    <div class="footer-content__box">
                        <a href="index.html" class="logo">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-logo"></use>
                            </svg>
                        </a>

                        <div class="footer-social">
                            <p class="footer-social__text">Наші соцмережі</p>

                            <nav class="social">
                                <a href="#" class="social__link" target="_blank">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-fb"></use>
                                    </svg>
                                </a>
                                <a href="#" class="social__link" target="_blank">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-instagram"></use>
                                    </svg>
                                </a>
                                <a href="#" class="social__link" target="_blank">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-youtube"></use>
                                    </svg>
                                </a>
                                <a href="#" class="social__link" target="_blank">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-tg"></use>
                                    </svg>
                                </a>
                                <a href="#" class="social__link" target="_blank">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-viber"></use>
                                    </svg>
                                </a>
                                <a href="#" class="social__link" target="_blank">
                                    <svg>
                                        <use xlink:href="./img/spritemap.svg#sprite-mail"></use>
                                    </svg>
                                </a>
                            </nav>
                        </div>
                    </div>

                    <div class="footer-content__box">
                        <p class="footer-content__title">Меню</p>

                        <ul class="footer-content__nav">
                            <li><a href="#">Конструктор</a></li>
                            <li><a href="#">Про компанію</a></li>
                            <li><a href="#">Відео</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Часті питання</a></li>
                            <li><a href="#">Відгуки</a></li>
                            <li><a href="#">Статті</a></li>
                            <li><a href="#">Контакти</a></li>
                        </ul>
                    </div>

                    <div class="footer-content__box">
                        <p class="footer-content__title">Розділи</p>

                        <ul class="footer-content__nav">
                            <li><a href="#">Зовнішня реклама</a></li>
                            <li><a href="#">Сувенірна продукція</a></li>
                            <li><a href="#">Ультрафіолетовий друк</a></li>
                            <li><a href="#">Фрезерні роботи</a></li>
                            <li><a href="#">Матеріали</a></li>
                        </ul>
                    </div>

                    <div class="footer-content__box">
                        <p class="footer-content__title">Наші контакти</p>

                        <div class="footer-content__contacts">
                            <p class="footer-content__contacts-text">м. Київ, вул. Кирилівська, 152а, (територія заводу "Пожтехніка")</p>

                            <ul class="footer-content__contacts-phones">
                                <li><a href="#">097-785-18-18</a></li>
                                <li><a href="#">044-592-36-64</a></li>
                            </ul>

                            <ul class="schedule">
                                <li>
                                    <span>Пн - Пт</span>
                                    <span>9:00 - 18:00</span>
                                </li>
                                <li>
                                    <span>Сб - Нд</span>
                                    <span>Вихідні</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="copyright text-center">Vizinform© 2000 - 2021 Майстерня з виготовлення рекламної продукції. Всі права захищені</p>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/logo-ico.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
